NodeRed/flows.json
[
    {
        "id": "838d90b6e7e6bcfc",
        "type": "tab",
        "label": "Flow 6 - Intercambio de información ESP32CAM/MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26ead84451fef40f",
        "type": "mqtt in",
        "z": "838d90b6e7e6bcfc",
        "name": "",
        "topic": "codigoIoT/flow6/mqtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bcd3ae9b12fd9abf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "16ab1f81de1f2833"
            ]
        ]
    },
    {
        "id": "16ab1f81de1f2833",
        "type": "ui_text",
        "z": "838d90b6e7e6bcfc",
        "group": "043e5f2937ed3e5a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto recibido",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "13f07de9905ff9f2",
        "type": "ui_switch",
        "z": "838d90b6e7e6bcfc",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "48a836dd09d0837e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "f37738eb7f25fbc8"
            ]
        ]
    },
    {
        "id": "f37738eb7f25fbc8",
        "type": "mqtt out",
        "z": "838d90b6e7e6bcfc",
        "name": "",
        "topic": "codigoIoT/flow6/mqttin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcd3ae9b12fd9abf",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "bcd3ae9b12fd9abf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "043e5f2937ed3e5a",
        "type": "ui_group",
        "name": "Rx",
        "tab": "3e87bd088d4a25ea",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48a836dd09d0837e",
        "type": "ui_group",
        "name": "Tx",
        "tab": "3e87bd088d4a25ea",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e87bd088d4a25ea",
        "type": "ui_tab",
        "name": "Flow 6 - Comunicación MQTT con ESP32CAM",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]